<div class="float-section">
  <div class="float-items-container">
    <a href="https://wa.me/+971529217256" class="float-item">
        <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a href="tel:+971529217256" class="float-item">
        <i class="fa-solid fa-phone"></i>
    </a>
  </div>
</div>