<section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">

        <div class="slider-item ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end"
                    data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img"
                        style="background-image:url(/front/images/bg_1.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex  align-items-center ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">I'm <span>Mohamed Esmail</span></h1>
                            <h2 class="mb-4">A Freelance Web Designer</h2>


                            <div class="hero-contact-items-container">

                                <a href="https://wa.me/+971529217256" class="hero-contact-item">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>

                                <a href="tel:+971529217256" class="hero-contact-item">
                                    <i class="fa-solid fa-phone"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/mohamed-esmail-bbb20431b/" class="hero-contact-item">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                                <a href="https://github.com/devmohamedesmail?tab=repositories" class="hero-contact-item">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end"
                    data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img"
                        style="background-image:url(/front/images/bg_2.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">I'm a <span>web designer</span> based in London</h1>

                          <div class="hero-contact-items-container">

                                <a href="https://wa.me/+971529217256" class="hero-contact-item">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>

                                <a href="tel:+971529217256" class="hero-contact-item">
                                    <i class="fa-solid fa-phone"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/mohamed-esmail-bbb20431b/" class="hero-contact-item">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                                <a href="https://github.com/devmohamedesmail?tab=repositories" class="hero-contact-item">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>