<section class="hero__section_custom">
    <div class="container">
        <div class="">
            <div class="hero_content_section">



                <span class="subheading">Hello!</span>
                <h1 class="mb-4 mt-3">I'm <span>Mohamed Esmail</span></h1>
                <h2 class="mb-4 ">Full Stack Developer</h2>


                <div class="hero-contact-items-container">

                    <a href="https://wa.me/+971529217256" class="hero-contact-item">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                    <a href="tel:+971529217256" class="hero-contact-item">
                        <i class="fa-solid fa-phone"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mohamed-esmail-bbb20431b/" class="hero-contact-item">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/devmohamedesmail?tab=repositories" class="hero-contact-item">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>

            </div>
        </div>
      
    </div>
</section>