<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Projects</h1>
                <h2 class="mb-4">Our Projects</h2>
                <p> I Finished Some Projects With Some Technoloy along 4 Years of Working </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="project img ftco-animate d-flex flex-column justify-content-center align-items-center">
                    <img src="/front/images/projects/alkhtaboot.png" width="100%" alt="">
                    <h2 class="project-title my-3">Alkhtaboot Company</h2>
                    <div class="d-flex justify-content-between align-items-center project-tools">
                       <p>HTML</p>
                       <p>CSS</p>
                       <p>JavaScript</p>
                       <p>WordPress</p>
                    </div>
                    <div class="project-action-buttons my-4 d-flex justify-content-between align-items-center">
                        <a href="" class="project-action-button">
                            <span>Visit Project</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <a href="" class="github-action-button">
                           
                            <span>
                                Visit Github
                            </span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project img ftco-animate d-flex flex-column justify-content-center align-items-center">
                    <img src="/front/images/projects/system.png" width="100%" alt="">
                    <h2 class="project-title my-3">Alkhtaboot System</h2>
                    <div class="d-flex justify-content-between align-items-center project-tools">
                       <p>HTML</p>
                       <p>CSS</p>
                       <p>JavaScript</p>
                       <p>React Js</p>
                       <p>PHP</p>
                       <p>Laravel</p>
                       <p>MySql</p>
                    </div>
                    <div class="project-action-buttons my-4 d-flex justify-content-between align-items-center">
                        <a href="" class="project-action-button">
                            <span>Visit Project</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <a href="" class="github-action-button">
                           
                            <span>
                                Visit Github
                            </span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project img ftco-animate d-flex flex-column justify-content-center align-items-center">
                    <img src="/front/images/projects/app-system.png" width="100%" alt="">
                    <h2 class="project-title my-3">System App</h2>
                    <div class="d-flex justify-content-between align-items-center project-tools">
                       <p>JavaScript</p>
                       <p>React Native</p>
                       <p>PHP</p>
                       <p>Laravel</p>
                       <p>MySql</p>
                    </div>
                    <div class="project-action-buttons my-4 d-flex justify-content-between align-items-center">
                        <a href="" class="project-action-button">
                            <span>Visit Project</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <a href="" class="github-action-button">
                           
                            <span>
                                Visit Github
                            </span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project img ftco-animate d-flex flex-column justify-content-center align-items-center">
                    <img src="/front/images/projects/react-store.png" width="100%" alt="">
                    <h2 class="project-title my-3">Nas Mart Online Shop</h2>
                    <div class="d-flex justify-content-between align-items-center project-tools">
                       <p>HTML</p>
                       <p>CSS</p>
                       <p>Tailwind</p>
                       <p>React Js</p>
                       <p>Reat Redux</p>
                       <p>PHP</p>
                       <p>Laravel</p>
                       <p>MySql</p>
                    </div>
                    <div class="project-action-buttons my-4 d-flex justify-content-between align-items-center">
                        <a href="" class="project-action-button">
                            <span>Visit Project</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <a href="" class="github-action-button">
                           
                            <span>
                                Visit Github
                            </span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

           

          
        </div>
    </div>
</section>